@charset "UTF-8";
body {
  font-family: Arial, Helvetica, sans-serif; }

header {
  text-align: center; }

main {
  -webkit-animation: appear 2s ease;
  animation: appear 2s ease; }

@-webkit-keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container {
  margin: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center; }

.card__container {
  width: 100px;
  height: 150px;
  margin: 10px;
  -webkit-perspective: 500px;
  perspective: 500px; }

.card {
  width: 100%;
  height: 100%;
  background-color: beige;
  border-radius: 10px;
  box-shadow: 0 0 5px gray; }

.card__face, .card__back {
  position: absolute;
  top: 0;
  left: 0; }

.card__face {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.card__back {
  background: repeating-radial-gradient(circle, purple, purple 5px, #4b026f 5px, #4b026f 10px); }

.rotating {
  position: relative;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.card__container:hover .rotating {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.rank, .suit {
  display: block;
  text-align: center;
  margin: 10px; }
  .rank::before, .suit::before {
    font-size: 50px; }

.card__container:hover .card__back {
  visibility: hidden;
  transition-delay: .3s; }

@supports (transform-style: preserve-3d) {
  .card__container:hover .card__back {
    visibility: initial;
    transition-delay: unset; }
  .card__face, .card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; } }

.card__container:nth-child(1) .suit::before {
  content: "♦";
  color: red; }

.card__container:nth-child(1) .rank::before {
  content: "5"; }

.card__container:nth-child(2) .suit::before {
  content: "♠";
  color: black; }

.card__container:nth-child(2) .rank::before {
  content: "6"; }

.card__container:nth-child(3) .suit::before {
  content: "♣";
  color: black; }

.card__container:nth-child(3) .rank::before {
  content: "7"; }

.card__container:nth-child(4) .suit::before {
  content: "♥";
  color: red; }

.card__container:nth-child(4) .rank::before {
  content: "8"; }

.card__container:nth-child(5) .suit::before {
  content: "♦";
  color: red; }

.card__container:nth-child(5) .rank::before {
  content: "9"; }

.card__container:nth-child(6) .suit::before {
  content: "♠";
  color: black; }

.card__container:nth-child(6) .rank::before {
  content: "10"; }

.card__container:nth-child(7) .suit::before {
  content: "♣";
  color: black; }

.card__container:nth-child(7) .rank::before {
  content: "11";
  content: "J"; }

.card__container:nth-child(8) .suit::before {
  content: "♥";
  color: red; }

.card__container:nth-child(8) .rank::before {
  content: "12";
  content: "Q"; }

.card__container:nth-child(9) .suit::before {
  content: "♦";
  color: red; }

.card__container:nth-child(9) .rank::before {
  content: "13";
  content: "K"; }

.card__container:nth-child(10) .suit::before {
  content: "♠";
  color: black; }

.card__container:nth-child(10) .rank::before {
  content: "5"; }

.card__container:nth-child(11) .suit::before {
  content: "♣";
  color: black; }

.card__container:nth-child(11) .rank::before {
  content: "6"; }

.card__container:nth-child(12) .suit::before {
  content: "♥";
  color: red; }

.card__container:nth-child(12) .rank::before {
  content: "7"; }

.card__container:nth-child(13) .suit::before {
  content: "♦";
  color: red; }

.card__container:nth-child(13) .rank::before {
  content: "8"; }

.card__container:nth-child(14) .suit::before {
  content: "♠";
  color: black; }

.card__container:nth-child(14) .rank::before {
  content: "9"; }

.card__container:nth-child(15) .suit::before {
  content: "♣";
  color: black; }

.card__container:nth-child(15) .rank::before {
  content: "10"; }

.card__container:nth-child(16) .suit::before {
  content: "♥";
  color: red; }

.card__container:nth-child(16) .rank::before {
  content: "11";
  content: "J"; }

.card__container:nth-child(17) .suit::before {
  content: "♦";
  color: red; }

.card__container:nth-child(17) .rank::before {
  content: "12";
  content: "Q"; }

.card__container:nth-child(18) .suit::before {
  content: "♠";
  color: black; }

.card__container:nth-child(18) .rank::before {
  content: "13";
  content: "K"; }

.card__container:nth-child(19) .suit::before {
  content: "♣";
  color: black; }

.card__container:nth-child(19) .rank::before {
  content: "5"; }

.card__container:nth-child(20) .suit::before {
  content: "♥";
  color: red; }

.card__container:nth-child(20) .rank::before {
  content: "6"; }

.card__container:nth-child(21) .suit::before {
  content: "♦";
  color: red; }

.card__container:nth-child(21) .rank::before {
  content: "7"; }

.card__container:nth-child(22) .suit::before {
  content: "♠";
  color: black; }

.card__container:nth-child(22) .rank::before {
  content: "8"; }

.card__container:nth-child(23) .suit::before {
  content: "♣";
  color: black; }

.card__container:nth-child(23) .rank::before {
  content: "9"; }

.card__container:nth-child(24) .suit::before {
  content: "♥";
  color: red; }

.card__container:nth-child(24) .rank::before {
  content: "10"; }

.card__container:nth-child(25) .suit::before {
  content: "♦";
  color: red; }

.card__container:nth-child(25) .rank::before {
  content: "11";
  content: "J"; }

.card__container:nth-child(26) .suit::before {
  content: "♠";
  color: black; }

.card__container:nth-child(26) .rank::before {
  content: "12";
  content: "Q"; }

.card__container:nth-child(27) .suit::before {
  content: "♣";
  color: black; }

.card__container:nth-child(27) .rank::before {
  content: "13";
  content: "K"; }

.card__container:nth-child(28) .suit::before {
  content: "♥";
  color: red; }

.card__container:nth-child(28) .rank::before {
  content: "5"; }

.card__container:nth-child(29) .suit::before {
  content: "♦";
  color: red; }

.card__container:nth-child(29) .rank::before {
  content: "6"; }

.card__container:nth-child(30) .suit::before {
  content: "♠";
  color: black; }

.card__container:nth-child(30) .rank::before {
  content: "7"; }

.card__container:nth-child(31) .suit::before {
  content: "♣";
  color: black; }

.card__container:nth-child(31) .rank::before {
  content: "8"; }

.card__container:nth-child(32) .suit::before {
  content: "♥";
  color: red; }

.card__container:nth-child(32) .rank::before {
  content: "9"; }

.card__container:nth-child(33) .suit::before {
  content: "♦";
  color: red; }

.card__container:nth-child(33) .rank::before {
  content: "10"; }

.card__container:nth-child(34) .suit::before {
  content: "♠";
  color: black; }

.card__container:nth-child(34) .rank::before {
  content: "11";
  content: "J"; }

.card__container:nth-child(35) .suit::before {
  content: "♣";
  color: black; }

.card__container:nth-child(35) .rank::before {
  content: "12";
  content: "Q"; }

.card__container:nth-child(36) .suit::before {
  content: "♥";
  color: red; }

.card__container:nth-child(36) .rank::before {
  content: "13";
  content: "K"; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }
